html{
    font-size: 16px;
    font-family: sans-serif;
}
body{
    color: #707070;
    font-size: 1.25rem;
}
.container{
    max-width: 980px;
    margin: 0 auto;
}
.columns{
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}
.col1, .col3, .col5{
    width: 20%;
}
.col2{
    width: 45%;
}
.col4{
    width: 70%;
}
img{
    max-width: 100%;
}
h1{
    text-align: center;
    font-size: 3rem;
    color: black;
}
h2{
    font-size: 1.5rem;
}
span{
    color: goldenrod;
}
.col3, .col5{
    background-color: black;
    color: white;
    padding: 1em;
}
/* .col1, .col2, .col4{
    padding-right: 1em;
} */